/* Section Pekerjaan */

#pekejaan .container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.work {
    margin-top: 10px;
}

.container-work {
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 30px;
    background-color: #04488c;
    color: #ff0000;
}

/* 
#pekerjaan .work :nth-child(1) {
    font-size: 40px;
    font-family: 'Anton', sans-serif;
    z-index: 100;
}

#pekerjaan .work:nth-child(2) {
    font-size: 30px;
    z-index: 100;
} */